<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>OneStop NDT</title>
</head>

<body class="bg-gray-100">

    <!-- logo -->
    <img src="/img/logo.png" alt="logo image" width="200px">

    <!-- form section -->
    <div  class=" flex flex-col md:flex-row max-w-7xl bg-white p-8 rounded-lg shadow-lg m-8 mx-auto">
        <div class="flex-1">

            <p class="mb-4">Let's discuss it over a cup of coffee.</p>
            <h2 class="text-2xl font-bold mb-4">Got any questions?</h2>
        </div>
        <form class="flex-1">
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <input type="text" placeholder="Name" required class="border p-2 rounded">
            <input type="text" placeholder="Organization Name" class="border p-2 rounded">
            <input type="email" placeholder="Email ID" required class="border p-2 rounded">
            <input type="number" placeholder="Contact Number" required class="border p-2 rounded">
            <textarea placeholder="Message" class="border p-2 rounded "></textarea>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mt-4">Submit</button>
          </div>
          <div class="grid grid-cols-1 gap-4 mt-4">
          </div>
        </form>
      </div>
      








    <!-- Map section -->
     <!-- <div class=" relative h-64 w-full">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.7375203439943!2d73.02750931489695!3d19.033061987117188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be795807b91cd97%3A0xf60c2372ae65c168!2sReliable%20Electrical%20Engineers!5e0!3m2!1sen!2sin!4v1627983418231!5m2!1sen!2sin"
            width="100%" height="200%" style="border:0;" loading="lazy" class="rounded"></iframe>
            <div style="padding: 20px;
          border: 2px solid black;
          width: 380px;
          /* background-color: royalblue; */
          color: white;
          position: absolute;
          top: 100px;
          left: 100px;
          " class="rounded-lg border-black bg-blue-900">
            <h3 class="text-xl font-bold " style="margin: 10px 0;">OnestopNDT</h3>
            <p>PAP/R/503, Rabale MIDC Near Old Electric <br> Company Rabale MIDC, Navi Mumbai - 400701</p>
            <p style="margin: 10px 0;">Landline: +022 4221 6299</p>
            <div style="display: flex;">
                <img src="/img/maologo.jpg" alt="maplogo" width="30px" height="30px"
                    style="margin: 5px; border-radius: 10px;">
                <a href="https://www.google.co.in/maps/place/TRIMURTI+Power+Control/@19.1714772,72.999548,17.45z/data=!4m14!1m7!3m6!1s0x3be7bf36daaaaaa9:0xf4dd6cee00cefa80!2sTRIMURTI+Power+Control!8m2!3d19.1708675!4d73.0014155!16s%2Fg%2F11clygvhvk!3m5!1s0x3be7bf36daaaaaa9:0xf4dd6cee00cefa80!8m2!3d19.1708675!4d73.0014155!16s%2Fg%2F11clygvhvk?entry=ttu" style="margin-top: 6px;
            color: white;
            text-decoration: none;" target="_blank" class="text-blue-500">Google Map Link</a>
            </div>
        </div>
     </div> -->
     <div class="relative h-96 w-full">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.7375203439943!2d73.02750931489695!3d19.033061987117188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be795807b91cd97%3A0xf60c2372ae65c168!2sReliable%20Electrical%20Engineers!5e0!3m2!1sen!2sin!4v1627983418231!5m2!1sen!2sin"
            width="100%" height="100%" style="border:0;" loading="lazy" class="rounded"></iframe>
        <div class="rounded-lg border-2 border-black bg-blue-900 text-white absolute top-10 left-10 p-5 w-80 lg:w-96 lg:top-24 lg:left-24">
            <h3 class="text-xl font-bold mb-2">OnestopNDT</h3>
            <p>PAP/R/503, Rabale MIDC Near Old Electric <br> Company Rabale MIDC, Navi Mumbai - 400701</p>
            <p class="my-2">Landline: +022 4221 6299</p>
            <div class="flex items-center">
                <img src="/img/maologo.jpg" alt="maplogo" class="w-8 h-8 rounded-lg mr-2">
                <a href="https://www.google.co.in/maps/place/TRIMURTI+Power+Control/@19.1714772,72.999548,17.45z/data=!4m14!1m7!3m6!1s0x3be7bf36daaaaaa9:0xf4dd6cee00cefa80!2sTRIMURTI+Power+Control!8m2!3d19.1708675!4d73.0014155!16s%2Fg%2F11clygvhvk!3m5!1s0x3be7bf36daaaaaa9:0xf4dd6cee00cefa80!8m2!3d19.1708675!4d73.0014155!16s%2Fg%2F11clygvhvk?entry=ttu"
                    class="text-blue-500" target="_blank">Google Map Link</a>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    
     <!-- <br><br><br><br><br><br><br> -->







    <!-- Image Gallery -->
    <!-- <div style="display: flex; padding: 20px 150px;" class="mt-10 mb-10">
        <div style="margin-right: 50px;" class=" relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-10 text-white ">Companies</p>
        </div>
    
        <div style="margin-right: 50px;" class=" relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-14 text-white ">Jobs</p>
        </div>
    
        <div style="margin-right: 50px;" class=" relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-14 text-white ">Articles</p>
        </div>
    
        <div style="margin-right: 50px;" class=" relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-12 text-white ">Webinars</p>
        </div>
    
        <div style="margin-right: 50px;" class=" relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-14 text-white ">Forums</p>
        </div>
    
        <div class=" relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center absolute bottom-4 left-4 text-white ">Application Notes</p>
        </div>
    
    
    </div> -->
    
    <div class="flex flex-wrap justify-center gap-8 p-8 mt-10 mb-10">
        <div class="relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white">Companies</p>
        </div>
    
        <div class="relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white">Jobs</p>
        </div>
    
        <div class="relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white">Articles</p>
        </div>
    
        <div class="relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white">Webinars</p>
        </div>
    
        <div class="relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white">Forums</p>
        </div>
    
        <div class="relative h-40">
            <img src="https://via.placeholder.com/150" alt="Image 1" class="w-40 h-40 object-cover rounded-lg">
            <p class="text-center font-bold absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white">Application Notes</p>
        </div>
    </div>
    
      
    







    <!-- Footer -->
    <!-- <div class=" bg-blue-900 p-4 text-white px-8">
            <img src="/img/logo21.png" alt="logo" style="padding-left:1200px;">

        <hr w-8>
        <p class="text-xl font-bold m-8">What is One Stop NDT?</p>

    </div> -->
    <div class="bg-blue-900 p-4 text-white px-8">
        <div style="display: flex; justify-content: flex-end;">
          <img src="/img/logo21.png" alt="logo" class="  w-40 h-40 ">
        </div>
        <hr class="w-full my-4">
        <p class="text-xl font-bold md:text-left m-8">What is One Stop NDT?</p>
      </div>
</body>

</html>